{% extends 'base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-flex align-items-center justify-content-between mb-4">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="{% url 'cf:policies' %}">Policies</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ domain }}</li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<!-- Generc Object Card -->
			<div class="card shadow mb-4">
				<!-- Card Header -->
				<div class="card-header py-3">
					<div class="d-flex align-items-center justify-content-between mb-0">
						<!-- Generic Object-->
						<h6 class="m-0 font-weight-bold text-primary">{{ domain }}</h6>
						<div>
							{% if perms.controlframework.add_genericpolicy %}
							<!-- Button - New -->
							<a href="{% url 'cf:policies/genericpolicy/add/domain' domain.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
								</span>
								<span class="text d-none d-sm-block">New Generic Policy</span>
							</a>
							{% endif %}
							{% if perms.controlframework.delete_domain %}
							<!-- Button - Delete -->
							<a href="{% url 'cf:policies/domain/delete' domain.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-trash"></i>
								</span>
								<span class="text d-none d-sm-block">Delete</span>
							</a>
							{% endif %}
							{% if perms.controlframework.change_domain %}
							<!-- Button - Edit -->
							<a href="{% url 'cf:policies/domain/update' domain.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-edit"></i>
								</span>
								<span class="text d-none d-sm-block">Edit</span>
							</a>
							{% endif %}
						</div>
					</div>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<p>
						<span class="small">Description</span><br>
						{{ domain.description | linebreaks }}
					</p>
					<p>
						<span class="small">Linked Generic Policies</span><br>
						{% for generic_policy in domain.generic_policies.all %}
						<a class="float-left text-secondary" href="{{ generic_policy.get_absolute_url }}">{{ generic_policy }}</a>
						<span class="float-right">test</span><br>
						{% endfor %}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


