{% extends 'base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-flex align-items-center justify-content-between mb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="{% url 'cf:policies' %}">Policies</a></li>
			</ol>
		</nav>
		<div>
			{% if perms.controlframework.add_domain %}
			<!-- Button - New -->
			<a href="{% url 'cf:policies/domain/add' %}" class="btn btn-primary btn-icon-split btn-sm">
				<span class="icon text-white-50">
					<i class="fas fa-plus"></i>
				</span>
				<span class="text d-none d-sm-block">New Domain</span>
			</a>
			{% endif %}
		</div>
	</div>

	<!-- Page Body -->
	<div class="row">
		<div class="col-lg-6">

			{% for domain in domain_list %}
			<!-- Domain Card -->
			<div class="card shadow mb-4">
				<!-- Card Header - Domain -->
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						<a href="{{ domain.get_absolute_url }}">
							{{domain}}
						</a>
					</h6>
				</div>
				<!-- Card Content - Generic Policies -->
				<div class="card-body">


					{% for genericpolicy in domain.generic_policies.all %}
					<a class="float-left text-secondary" href="{{ genericpolicy.get_absolute_url }}">{{ genericpolicy }}</a>
					<span class="float-right">test</span><br>
					{% endfor %}

				</div>
			</div>
			{% endfor %}
			

		</div>
		<div class="col-lg-6">

			<!-- Info Card -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					Control Info
				</div>
				<!-- Default Card Example -->
				<div class="card-body">
					This card uses Bootstrap's default styling with no utility classes added. Global styles are the only things modifying the look and feel of this default card example.
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock content %}


