{% extends 'base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-flex align-items-center justify-content-between mb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="{% url 'cf:policies' %}">Policies</a></li>
				<li class="breadcrumb-item"><a href="{% url 'cf:policies/domain' policy.generic_policy.domain.id %}">{{ policy.generic_policy.domain }}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'cf:policies/genericpolicy' policy.generic_policy.id %}">{{ policy.generic_policy }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ policy }}</li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<!-- Info Card -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<div class="d-flex align-items-center justify-content-between mb-0">
						<h6 class="m-0 font-weight-bold text-primary">{{ policy }}</h6>
						<div>
							% if perms.controlframework.delete_policy %}
							<!-- Button - Delete -->
							<a href="{% url 'cf:policies/policy/delete' policy.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-trash"></i>
								</span>
								<span class="text d-none d-sm-block">Delete</span>
							</a>
							{% endif %}
							{% if perms.controlframework.change_policy %}
							<!-- Button - Edit -->
							<a href="{% url 'cf:policies/policy/update' policy.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-edit"></i>
								</span>
								<span class="text d-none d-sm-block">Edit</span>
							</a>
						</div>
					</div>
				</div>
				<!-- Default Card Example -->
				<div class="card-body">
					<p>
						<span class="small">Policy Owner</span><br>
						{{ policy.owner }}
					<p>
						<span class="small">Policy Accountable</span><br>
						{{ policy.accountable }}
					</p>
					<p>
						<span class="small">Policy Narrative</span><br>
						<a href="{{ policy.narrative }}">Link to Google Docs</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


