{% extends 'base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- 404 Error Text -->
  <div class="text-center">
    <div class="error mx-auto" data-text="403">403</div>
    <p class="lead text-gray-800 mb-5">Access denied</p>
    <p class="text-gray-500 mb-0">It looks like you do not have the required permission...</p>
    <a href="{% url 'cf:dashboard' %}">&larr; Back to Dashboard</a>
  </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}


