<!-- Breadcrumbs -->
  <div class="d-flex align-items-center justify-content-between mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{breadcrumb.url}}">{{breadcrumb.text}}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
      </ol>
    </nav>
  </div>