{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Breadcrumbs -->
  {% include 'breadcrumbs.html' %}

  <div class="row">
    <div class="col-lg-12">

      <!-- Object Card -->
      <div class="card shadow mb-4">
        
        <!-- Card Header - Object Name -->
        <div class="card-header py-3">
          <div class="d-flex align-items-center justify-content-between mb-0">
            <h6 class="m-0 font-weight-bold text-primary">{{ object }}
            </h6>
            <div>
              {% if model_permissions.delete in perms %}
              <!-- Button - Delete -->
              <a href="{{ object.get_absolute_url }}delete" class="btn btn-primary btn-icon-split btn-sm">
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text d-none d-sm-block">Delete</span>
              </a>
              {% endif %}
              {% if model_permissions.change in perms %}
              <!-- Button - Edit -->
              <a href="{{ object.get_absolute_url }}update" class="btn btn-primary btn-icon-split btn-sm">
                <span class="icon text-white-50">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="text d-none d-sm-block">Edit</span>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        
        <!-- Card Body -->
        <div class="card-body">
          {% include templates.detail_template %}
        </div>
      
      </div>

      {% include templates.tabs_template %}

    </div>
  </div>
</div>

{% endblock %}