
<div class="card shadow mb-4">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="controlTab">
      <li class="nav-item active">
        <a class="nav-link active" data-toggle="tab" href="#tasks-tab">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#scheduler-tab">Scheduler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#qualityreview-tab">Quality Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#issues-tab">Issues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#evidencerequests-tab">Evidence Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#log-tab">Log</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">

      <div id="tasks-tab" class="tab-pane active">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered table-condensed" id="task" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Time Slot</th>
                <th>Task</th>
                <th class="d-none d-lg-table-cell">Task Title</th>
                <th>Assignee</th>
                <th>Created date</th>
                <th>Due date</th>
                <th>Days left</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
              <tr>
                <td>2019 Q3</td>
                <td class="text-center">
                  <a href = "http://localhost:8080/browse/{{task.issue_key}}" class="badge badge-secondary">{{task.issue_key}}</a>
                </td>
                <td class="d-none d-lg-table-cell">{{task.summary}}</td>
                <td>{{task.assignee_displayname}}</td>
                <td>{{task.get_created_date}}</td>
                <td>{{task.get_due_date}}</td>
                <td>{{task.get_days_left}}</td>
                <td class="text-center">
                  <span class="badge badge-{{task.get_calculated_status_label_color}}">{{task.get_calculated_status_display}}</span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div id="scheduler-tab" class="tab-pane">
        <div class="d-flex align-items-center justify-content-between mb-0">
          <span></span>
          <div>
            <!-- Button - Delete -->
            <a href="#scheduler-delete" class="btn btn-primary btn-icon-split btn-sm">
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
              </span>
              <span class="text d-none d-sm-block">Delete</span>
            </a>
            <!-- Button - Edit -->
            <a href="#schedulerEdit" class="btn btn-primary btn-icon-split btn-sm" id="schedulerEdit">
              <span class="icon text-white-50">
                <i class="fas fa-edit"></i>
              </span>
              <span class="text d-none d-sm-block">Edit</span>
            </a>
          </div>
        </div>
        <form id="schedulerForm">
          <div class="form-group row">
            <div class="col-sm-2">Status</div>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="statusCheck" value="0">
                <label class="form-check-label" for="statusCheck">
                  Enabled
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputSummary" class="col-sm-2 col-form-label">Summary</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSummary" placeholder="Summary" value="{{control.control_task.scheduled_task.summary}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputDescription" placeholder="Description">{{control.control_task.scheduled_task.description}}</textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAssignee" class="col-sm-2 col-form-label">Assignee</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAssignee" placeholder="Assignee" value="{{control.control_task.scheduled_task.assignee}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputWatchers" class="col-sm-2 col-form-label">Watchers</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputWatchers" placeholder="Watchers" value="{{control.control_task.scheduled_task.watchers}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputStartDate" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputStartDate" placeholder="Start Date" value="{{control.control_task.scheduled_task.start_date}}">
            </div>
            <label for="inputEndDate" class="col-sm-2 col-form-label">End Date</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputEndDate" placeholder="End Date" value="{{control.control_task.scheduled_task.end_date}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputLastTask" class="col-sm-2 col-form-label">Last Task</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputLastTask" placeholder="Last Task">
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <input type="submit" formnovalidate name="cancel" value="Cancel" class="btn btn-secondary"/>
            <input type="submit" value="Save" class="btn btn-primary"/>
          </div>
        </form>
      </div>

      <div id="qualityreview-tab" class="tab-pane">
        text3
      </div>

      <div id="issues-tab" class="tab-pane">
        text4
      </div>

      <div id="evidencerequests-tab" class="tab-pane">
        text5
      </div>

      <div id="log-tab" class="tab-pane">
        text6
      </div>

    </div>
  </div>
</div>