{% extends 'base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-flex align-items-center justify-content-between mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'cf:controlframework' %}">Control Framework</a></li>
      </ol>
    </nav>
    <div>
      <!-- Button - Export -->
      <a href="{#" class="btn btn-primary btn-icon-split btn-sm">
        <span class="icon text-white-50">
          <i class="fas fa-download"></i>
        </span>
        <span class="text d-none d-sm-block">Export</span>
      </a>
    </div>
  </div>

  <!-- Page Body -->
  <div class="row">
    <div class="col-12">

      <!-- Control Framework Card -->
      <div class="card shadow">

        <div class="card-body">

          <!-- Control Framework Table -->
          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered table-condensed" id="controlframeworkTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="d-none d-xl-table-cell">Generic Policy</th>
                  <th class="d-none d-xl-table-cell">Generic Object</th>
                  <th>Generic Control</th>
                  <th>Object</th>
                  <th class="d-none d-md-table-cell">Generic Control Description</th>
                  <th>Frequency</th>
                  <th class="d-none d-xl-table-cell">PCI</th>
                  <th class="d-none d-xl-table-cell">SOX</th>
                  <th>Control Owner</th>
                  <th class="d-none d-xl-table-cell">Policy Owner</th>
                  <th class="d-none d-xl-table-cell">Accountable</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for control in control_list %}
                <tr data-href="{% url 'cf:controls/control' control.id %}">
                  <td class="d-none d-xl-table-cell">{{ control.generic_control.generic_policy }}</td>
                  <td class="d-none d-xl-table-cell">{{ control.object.generic_object }}</td>
                  <td>{{ control.generic_control }}</td>
                  <td>{{ control.object }}</td>
                  <td class="d-none d-md-table-cell">{{ control.generic_control.description }}</td>
                  <td>{{ control.frequency }}</td>
                  <td class="d-none d-xl-table-cell">{{ control.get_pci_display }}</td>
                  <td class="d-none d-xl-table-cell">{{ control.get_sox_display }}</td>
                  <td>{{ control.owner }}</td>
                  <td class="d-none d-xl-table-cell">{{ control.policy.owner }}</td>
                  <td class="d-none d-xl-table-cell">{{ control.policy.accountable }}</td>
                  <td class="text-center">
                    {% for key, value in control.control_task.get_tasks_per_status.items %}
                      <a href="{% url 'cf:controls/control' control.id %}" class="badge badge-{{value.label_color}}">{{key}} {{value.nr_tasks}}</a>
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


