{% extends 'base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-flex align-items-center justify-content-between mb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="{% url 'cf:objects' %}">Objects</a></li>
				<li class="breadcrumb-item"><a href="{{ object.generic_object.get_absolute_url }}">{{ object.generic_object }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<!-- Info Card -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<div class="d-flex align-items-center justify-content-between mb-0">
						<h6 class="m-0 font-weight-bold text-primary">{{ object.name }}</h6>
						<div>
							{% if perms.controlframework.delete_object %}
							<!-- Button - Delete -->
							<a href="{% url 'cf:objects/object/delete' object.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-trash"></i>
								</span>
								<span class="text d-none d-sm-block">Delete</span>
							</a>
							{% endif %}
							{% if perms.controlframework.change_object %}
							<!-- Button - Edit -->
							<a href="{% url 'cf:objects/object/update' object.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-edit"></i>
								</span>
								<span class="text d-none d-sm-block">Edit</span>
							</a>
							{% endif %}
						</div>
					</div>
				</div>
				<!-- Default Card Example -->
				<div class="card-body">
					<p>
						<!--<span style="font-weight:lighter; font-style: italic">-->
						<span class="small">Description</span><br>
						{{ object.description | linebreaks }}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


