{% load static %}

<!-- DETAIL CARD BODY -->

<!-- Description -->
<div class="row mb-4">
  <div class="col-12">
    <span class="small font-weight-bold">Description</span><br>
    {{ control.generic_control.description | linebreaks }}
  </div>
</div>
<!-- Attributes -->
<div class="row mb-2">
  <div class="col-6 col-sm-4 mb-2">
    <span class="small font-weight-bold">Frequency</span><br>
    {{control.frequency}}
  </div>
  <div class="col-6 col-sm-4 mb-2">
    <span class="small font-weight-bold">Duration</span><br>
    {{control.duration }} days
  </div>
  <div class="col-6 col-sm-2 mb-2">
    <span class="small font-weight-bold">SOX</span><br>
    {{control.get_sox_display}}
  </div>
  <div class="col-6 col-sm-2 mb-2">
    <span class="small font-weight-bold">PCI</span><br>
    {{control.get_pci_display}}
  </div>
  <div class="col-6 col-sm-4 mb-2">
    <span class="small font-weight-bold">Control Owner</span><br>
    {{ control.owner }}
  </div>
  <div class="col-6 col-sm-4 mb-2">
    <span class="small font-weight-bold">Policy Owner</span><br>
    {{ control.policy.owner }}
  </div>
  <div class="col-6 col-sm-4 mb-2">
    <span class="small font-weight-bold">Accountable</span><br>
    {{ control.policy.accountable}}
  </div>
</div>





