{% extends 'base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-flex align-items-center justify-content-between mb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="{% url 'cf:controls' %}">Controls</a></li>
			</ol>
		</nav>
		<div>
			{% if perms.controlframework.add_genericcontrol %}
			<!-- Button - New -->
			<a href="{% url 'cf:controls/genericcontrol/add' %}" class="btn btn-primary btn-icon-split btn-sm">
				<span class="icon text-white-50">
					<i class="fas fa-plus"></i>
				</span>
				<span class="text d-none d-sm-block">New Generic Control</span>
			</a>
			{% endif %}
		</div>
	</div>

	<!-- Page Body -->
	<div class="row">
		<div class="col-lg-6">

			{% for genericcontrol in genericcontrol_list %}
			<!-- Object Card -->
			<div class="card shadow mb-4">
				<!-- Card Header - Generic Object -->
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						<a href="{{ genericcontrol.get_absolute_url }}">
							{{genericcontrol}}
						</a>
					</h6>
				</div>
				<!-- Card Content - Objects -->
				<div class="card-body">

					<p>
						<span class="small">Description</span><br>
						{{ genericcontrol.description | linebreaks }}
					</p>

					<p>
						<span class="small">Linked Controls</span><br>
						{% for control in genericcontrol.controls.all %}
						<a class="text-secondary" href="{{ control.get_absolute_url }}">{{ control }}</a><br>
						{% endfor %}
					</p>

				</div>
			</div>
			{% endfor %}
			

		</div>
		<div class="col-lg-6">

			<!-- Info Card -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					Control Info
				</div>
				<!-- Default Card Example -->
				<div class="card-body">
					This card uses Bootstrap's default styling with no utility classes added. Global styles are the only things modifying the look and feel of this default card example.
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock content %}


