{% extends 'base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-flex align-items-center justify-content-between mb-4">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="{% url 'cf:controls' %}">Controls</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ genericcontrol }}</li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<!-- Generc Object Card -->
			<div class="card shadow mb-4">
				<!-- Card Header -->
				<div class="card-header py-3">
					<div class="d-flex align-items-center justify-content-between mb-0">
						<!-- Generic Object-->
						<h6 class="m-0 font-weight-bold text-primary">{{ genericcontrol }}</h6>
						<div>
							{% if perms.controlframework.add_genericcontrol %}
							<!-- Button - New -->
							<a href="{% url 'cf:controls/control/add/genericcontrol' genericcontrol.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
								</span>
								<span class="text d-none d-sm-block">New Control</span>
							</a>
							{% endif %}
							{% if perms.controlframework.delete_genericcontrol%}
							<!-- Button - Delete -->
							<a href="{% url 'cf:controls/genericcontrol/delete' genericcontrol.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-trash"></i>
								</span>
								<span class="text d-none d-sm-block">Delete</span>
							</a>
							{% endif %}
							{% if perms.controlframework.change_genericcontrol %}
							<!-- Button - Edit -->
							<a href="{% url 'cf:controls/genericcontrol/update' genericcontrol.id %}" class="btn btn-primary btn-icon-split btn-sm">
								<span class="icon text-white-50">
									<i class="fas fa-edit"></i>
								</span>
								<span class="text d-none d-sm-block">Edit</span>
							</a>
							{% endif %}
						</div>
					</div>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<p>
						<span class="small">Description</span><br>
						{{ genericcontrol.description | linebreaks }}
					</p>
					<p>
						<span class="small">Linked Controls</span><br>
						{% for control in genericcontrol.controls.all %}
						<a class="float-left text-secondary" href="{{ control.get_absolute_url }}">{{ control }}</a><br>

						{% endfor %}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


