{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<div class="row">
		<div class="col-lg-6">
			<!-- Info Card -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					{{title}}
				</div>
				<!-- Default Card Example -->
				<div class="card-body">
					<form method = "post">
						{% csrf_token %}
						<p>Are you sure you want to delete "{{ object }}"?</p>
						<div class="d-flex align-items-center justify-content-between">
							<input type="submit" formnovalidate name="cancel" value="Cancel" class="btn btn-secondary"/>
							<input type="submit" value="Delete" class="btn btn-danger"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


